@import 'theme.scss';
@import 'mixins.scss';
.listCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.gridCards{
    max-height: 74vh;
    @include grid_scroll();
}

.card{
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;

    .cardContent{
        @include card();

        .cardTop{
            display: flex;
            justify-content: space-between;


            .cardIcons {
                img{
                    padding-left: 0.5rem!important;
                    cursor: pointer;
                }
            }
        }
        .cardList {
            & li{
                padding-bottom: 0.5rem;
                font-size: $font-size-16;
            }
        }
    }
    .cardTitle {
        font-size: $font-size-24;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 1rem;
        }
    .cardFooter{
        border: $border;display: flex;
        padding: 1rem;
        justify-content: space-between;
        border-top:none;
    }
}
.destacado {
    background-color: #FB8500;
    color: $color-white;
    box-shadow: 0px 0px 20px #FB8500;
    border-radius: $border-radius-box;
    -webkit-border-radius: $border-radius-box;
    -moz-border-radius: $border-radius-box;
    -ms-border-radius: $border-radius-box;
    -o-border-radius: $border-radius-box;

    .cardContent {
        border: none;
    }
    .cardFooter{
        border: none;
    }
}
