@import 'theme.scss';
@import 'mixins.scss';
.container{
    background-color: $color-white;
    box-shadow: $box-shadows;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
    left: calc($border-radius-img - 600px/2);
    max-width: 600px;
    padding: 2rem;
    position: fixed;
    top: 100px;
    z-index: 2;
    .formTop{
        align-items:center;
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 1fr auto;
        justify-items: end;
        i{
            cursor: pointer;
        }
        .containerC {
            display: grid;
            justify-self: left;
            grid-template-columns: auto 1fr;
            position: relative;
            padding-left: 2.5rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
                display: none;
                &:checked~.checkmark {
                    background-color: $color-orange;
                }
                &:checked~.checkmark:after {
                    display: block;
                }
            }
            .checkmark {
                margin-top: -5px;
                position: absolute;
                height: 30px;
                width: 30px;
                background-color: $color-grey;
                border-radius: $border-radius-box;
                -webkit-border-radius: $border-radius-box;
                -moz-border-radius: $border-radius-box;
                -ms-border-radius: $border-radius-box;
                -o-border-radius: $border-radius-box;
                &:after{
                    content: "";
                    position: absolute;
                    display: none;
                    left: 12px;
                    top: 7px;
                    width: 5px;
                    height: 10px;
                    border: solid $color-white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            &:hover input~.checkmark {
                background-color: $color-darkgrey;
            }
        }
    }
    .formFieldset,.formList {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 0.75fr 0.75fr 1fr;
    }
    .formList{
        align-items: center;
        .formEditIcons{
            display: flex;
            gap: 0.5rem;
        }
    }
    .formFieldset input,.formFieldset select,.formTop input,.formFooter input{
        @include card();
        font-size: $font-size-18;
        width: 100%;
    }
    .formFooter {
        border: none;
        display: grid;
        gap: 1rem;
        grid-template-columns:  2.5fr 2.5fr;
        padding: 0;
    }
    .formButton{
        align-items: flex-end;
        display: flex;
    }

}
.overlay{
    background-color: #000000e6;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .3var cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: opacity .3var cubic-bezier(.4, 0, .2, 1);
    -moz-transition: opacity .3var cubic-bezier(.4, 0, .2, 1);
    -ms-transition: opacity .3var cubic-bezier(.4, 0, .2, 1);
    -o-transition: opacity .3var cubic-bezier(.4, 0, .2, 1);
    width: 100%;
}



