.container{
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
}
.containerContentFilter{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    max-height: 86vh;
}
