@import 'theme.scss';
.container{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto 1fr;
    padding: 2rem;
    &__user{
        grid-template-rows: auto auto auto 1fr;

    }
    &__filter{
        grid-template-rows: auto 1fr;
        padding: 0;
    }
    &__buttons{
        grid-template-columns: auto auto 1fr;
        grid-template-rows: 1fr;
        padding: 0;

    }
}
