@import 'theme.scss';
.container{
  display: flex;
  gap: 1rem;
  .leyend{
    display: flex;
    gap: 1rem;
  }
  .leyend:after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: $border-radius-box;
    -webkit-border-radius: $border-radius-box;
    -moz-border-radius: $border-radius-box;
    -ms-border-radius: $border-radius-box;
    -o-border-radius: $border-radius-box;
  }
}
#r:after{
  background-color: $color-cancel;

}
#v:after {
  background-color: $color-succesfull;

}
#n:after {
  background-color: $color-orange;

}
#p:after {
  background-color: $color-purple;

}
