$font-family-primary: 'Roboto', sans-serif;
$font-weight-primary-black: 900;
$font-weight-primary-bold: 700;
$font-weight-primary-semi-bold: 600;
$font-weight-primary-regular: 400;
$font-weight-primary-light: 300;

$font-family-secondary: 'Roboto', sans-serif;
$font-weight-secondary-bold: 700;
$font-weight-secondary-semi-bold: 600;
$font-weight-secondary-regular: 400;
$font-weight-secondary-light: 300;

$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-40: 2.5rem;

$color-primary: #19222F;
$color-grey: #F0F4F9;
$color-darkgrey: #E4EAF1;
$color-orange: #FF7A00;
$color-purple: #6644FF;
$color-red: #FF0000;
$color-succesfull: #659B8F;
$color-pending: #E3CD76;
$color-cancel: #E48EB1;
$color-white: #ffffff;


$border-radius-img: 50%;
$border-radius-box: 0.25rem;
$border-color: #D3D3D3;
$border: 1px solid $border-color;

$box-shadows: 4px 4px 20px rgba(37, 38, 38, 0.1);
