.container{
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.topTitle{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.buscador{
    border: none;
    border-bottom: 1px solid #D3D3D3;
    width: 100px;
}
.buscador:focus-visible {
    outline: none;

}
